p {
  color: white;
}

body{
  background-color: #18315e;
}

/* html {
  background: url(img/deadreef.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

.button{
  background-color:black;
}

#menu {
  display: inline-block;
}

#wrapper {
  text-align: center;
  padding-top: 75px;
}

#center-box {
  display: inline-block;
  width: 750px;
  height: 200px;
}

#overlay {
  position: absolute;
  z-index: 10;
}

#bg-pic {
    width: 1500px;
    position: absolute;
    top: 0px;
    left: 0px;
}

#bkgrd {
  position: absolute;
  z-index: -10;
}

#output {
  display: inline-block;
  width: 1000px;
}
